RewriteEngine on
RewriteBase /OnlineJobPortal/   

RewriteRule ^news-listing/([0-9]*)$ news-listing.php?page=$1 [QSA]
RewriteRule ^news/(.+)$ news-detail.php?title=$1 [QSA]
RewriteRule ^company/(.+)$ company.php?title=$1 [QSA]
RewriteRule ^job-detail/([0-9]+)$ job-detail.php?title=$1 [QSA]
RewriteRule ^add-edit-job/([0-9]*)$ add-edit-job.php?id=$1 [QSA]
RewriteRule ^jobs/([0-9]*)$ jobs.php?page=$1 [QSA]
RewriteRule ^view-application/([0-9]*)$ view-application.php?jobid=$1 [QSA]
RewriteRule ^apply/([0-9]*)$ apply.php?jobid=$1 [QSA]
RewriteRule ^application-details/([0-9]*)$ application-details.php?applicationId=$1 [QSA]
RewriteRule ^home index.php
RewriteRule ^about about-us.php
RewriteRule ^contact contact-us.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [QSA,NC,L]

